<html>
  <head>
    <style>
      .classy {
        font-variant: small-caps
      }
    </style>
  </head>
  <body>
    
    <h1 *ngIf="theStuffIsShown">The Stuff</h1>
    <h2>Hello {{ name }}</h2>
    <h2 class="classy">Soup and salad</h2>
    
    <input type="text" data-cy="nameInput" placeholder="Name" #nameInput>
    <input type="button" value="Click me." data-cy="clickMeButton" (click)="name=nameInput.value">
  
    <p (click)="showTheStuff()" data-cy="showTheStuff">Show the stuff!</p>
 
    <hr>

    <input data-cy="userIdInput" type="text"><br>
    <input data-cy="passwordInput" type="text"><br>
    <input type="button" value="Login" data-cy="loginButton">
  </body>
</html>